<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealTime Productos</title>
   <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h2>Aca mostramos todos los productos en tiempo real</h2>

<div id="contenedorProductos" class="productsContainer"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/realtimeproducts.js"></script>

</body>

</html>