/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

/* Header and navigation menu */
header {
    background: linear-gradient(135deg, #4db6ac, #80deea);
    /* Colores turquesa y celeste suaves */
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul.nav-menu li {
    margin: 0 15px;
}

nav ul.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul.nav-menu li a:hover {
    color: #ffd54f;
    /* Color de resaltado en el hover */
}

/* Main content area */
main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #e0f2f1;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Specific styles for different pages */
.title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.productCard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.productImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.productTitle {
    font-size: 20px;
    color: #007bff;
    margin: 0 0 10px;
}

.productDescription {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.productPrice {
    font-size: 18px;
    color: #28a745;
    font-weight: 700;
    margin-bottom: 10px;
}

.productCategory {
    font-size: 14px;
    color: #ff5733;
    margin-bottom: 10px;
}

/* Add product styles */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Home page styles */
.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.product-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.product-item h2 {
    color: #ff6f61;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.product-item p {
    color: #333;
    font-size: 1em;
    margin: 5px 0;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

.info-button {
    margin-top: 1rem;
    font-size: 20px;
    background-color: #4db6ac85;
    border-radius: 3px;
    padding: 4px;
    text-decoration: none;
    color: #082646;
}

.info-button:hover {
    color: #80deea;
    background-color: #082646;
}

.cartsDetails1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btncntrr {
    margin-top: 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
}